<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href="{% static "poznanservices/style.css" %}"> {% endcomment %}
    </head>
    <body>
        <div class="wrapper">       
            {% if not error_message %}  
            <div class="timetables">
                {% for departure in departures %}

                    {{departure.line}} - {{departure.headsign}} {{departure.timestamp|date:'d - H:i'}} - {{departure.stop.given_id}}<br/>

                {% endfor %} 
            </div>
            {% else %}
                <div class="error_message">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="bike_header">Stacje rowerów miejskich</div>
                <div class="bike_stations">
                    <div class="bike_station_cell">Nazwa</div>
                    <div class="bike_station_cell">Wolnych rowerów</div>
                    <div class="bike_station_cell">Odległość</div>
                    {% for b in bikes %}
                        <div class="bike_station_cell">
                            {{ b.name }}
                        </div> 
                        <div class="bike_station_cell">
                            {{ b.free_bikes}}
                        </div> 
                        <div class="bike_station_cell">
                            {{b.distance_to}}m
                        </div>
                    {% endfor %}
                </div>
        
            <div style="height:30px"></div>
            <a href="/" class="link">szukaj ponownie</a>
        </div>


    </body>
</html>